  <!-- Begin Main Content Area -->
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="@Url.Content("~/greenoasisassets/images/breadcrumb/bg/1-1-1919x388.jpg")>
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h1 class="breadcrumb-heading">Về Chúng Tôi</h1>
                        <ul>
                            <li>
                                <a href="index.html">Trang Chủ</a>
                            </li>
                            <li>Về Chúng Tôi</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-area section-space-top-95">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about-content">
                        <h2 class="about-title">Về <span>Green Oasis</span></h2>
                        <p class="about-desc">
                            Giữa nhịp sống hối hả của đô thị, <strong>Green Oasis</strong> như một làn gió mới, mang đến cho những người yêu thiên nhiên một nền tảng thương mại điện tử độc đáo. Chuyên cung cấp các loại cây cảnh sen đá và dịch vụ thiết kế tiểu cảnh xanh, Green Oasis giúp người trẻ dễ dàng tìm kiếm và sở hữu sản phẩm phù hợp cho không gian sống.
                        </p>
                        <p class="about-desc">
                            Với công nghệ AR nổi bật, khách hàng có thể trực quan hóa sản phẩm trong không gian của mình trước khi đặt hàng, mang đến trải nghiệm mua sắm thú vị và tiện lợi.Hơn thế nữa, Green Oasis còn xây dựng một cộng đồng trực tuyến cho những người đam mê cây xanh, nơi họ có thể chia sẻ hình ảnh, video và kinh nghiệm chăm sóc cây cảnh. Không chỉ là nơi giao dịch, Green Oasis là không gian kết nối, giao lưu và chia sẻ đam mê giữa những người yêu cây, tạo nên một cộng đồng sống động và đầy cảm hứng.
                        </p>
                        <p class="about-desc">
                            Hãy cùng Green Oasis biến ước mơ về một không gian xanh tươi thành hiện thực!
                        </p>
                        <div class="about-signature">
                            <img src="~/greenoasisassets/images/about/icon/2.png" alt="Signature">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Begin Shipping Area -->
    <div class="shipping-area section-space-y-axis-100">
        <div class="container">
            <div class="shipping-bg">
                <div class="row shipping-wrap">
                    <div class="col-lg-4 col-md-6">
                        <div class="shipping-item">
                            <div class="shipping-img">
                                <img src="~/greenoasisassets/images/shipping/icon/car.png" alt="Shipping Icon">
                            </div>
                            <div class="shipping-content">
                                <h2 class="title">Giao Hàng Toàn Quốc</h2>
                                <p class="short-desc mb-0">Phí vận chuyền đồng giá 20.000 cho mọi đơn hàng</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                        <div class="shipping-item">
                            <div class="shipping-img">
                                <img src="~/greenoasisassets/images/shipping/icon/card.png" alt="Shipping Icon">
                            </div>
                            <div class="shipping-content">
                                <h2 class="title">Hoàn Tiền 100%</h2>
                                <p class="short-desc mb-0">Nếu sản phẩm bị hư hại hoặc vỡ khi giao hàng đến bạn</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                        <div class="shipping-item">
                            <div class="shipping-img">
                                <img src="~/greenoasisassets/images/shipping/icon/service.png" alt="Shipping Icon">
                            </div>
                            <div class="shipping-content">
                                <h2 class="title">Bộ Sưu Tập Cây Cảnh</h2>
                                <p class="short-desc mb-0">Đa dạng loại cây cho không gian của bạn</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shipping Area End Here -->
    <!-- Begin Banner Area -->
    <div class="banner-with-counter">
        <div class="banner-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-boxshadow">
                            <div class="banner-item" data-bg-image="~/greenoasisassets/images/banner/3-1-1208x542.jpg">
                                <div class="popup-btn">
                                    <a class="popup-youtube wave-btn" href="https://www.youtube.com/embed/Bc5zBF-24mg?autoplay=1&rel=0&showinfo=0">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <div class="icon">
                                            <i class="pe-7s-play"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="counter-area">
            <div class="container">
                <h2 class="counter-title">
                    Thành tựu nổi bật của
                    <span>Green Oasis</span>
                </h2>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-6">
                        <div class="counter-item">
                            <div class="count-wrap">
                                <h3 class="count mb-0" data-counterup-time="500">150</h3>
                                <span class="prefix">+</span>
                            </div>
                            <h4 class="count-title mb-0">Dự Án</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <div class="counter-item">
                            <div class="count-wrap">
                                <h3 class="count mb-0" data-counterup-time="1000">359</h3>
                                <span class="prefix">+</span>
                            </div>
                            <h4 class="count-title mb-0">Khách Hàng</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6 pt-4 pt-md-0">
                        <div class="counter-item">
                            <div class="count-wrap">
                                <h3 class="count mb-0" data-counterup-time="1500">251</h3>
                                <span class="prefix">+</span>
                            </div>
                            <h4 class="count-title mb-0">Đánh Giá</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6 pt-4 pt-lg-0">
                        <div class="counter-item">
                            <div class="count-wrap">
                                <h3 class="count mb-0" data-counterup-time="2000">110</h3>
                                <span class="prefix">+</span>
                            </div>
                            <h4 class="count-title mb-0">Giải Thưởng</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Area End Here -->

    <div class="team-area section-space-top-100">
        <div class="container">
            <div class="section-title-wrap without-tab">
                <h2 class="section-title">Nhân Sự Green Oasis</h2>
                <p class="section-desc">
                    +25 chuyên viên chăm sóc cây xanh, 02 xe tải và 04 xe bán tải phục vụ giao hàng, đổi cây mọi lúc
                </p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6 pt-sm-5">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="~/greenoasisassets/images/about/team/1-1-270x270.png" alt="Team Member">
                            <div class="inner-content">
                                <h2 class="team-member-name">Văn Đức Anh</h2>
                                <span class="occupation">Nhân Viên Kinh Doanh</span>
                                <div class="social-link with-border">
                                    <ul>
                                        <li>
                                            <a href="#" data-tippy="Facebook" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-tippy="Twitter" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-tippy="Pinterest" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                <i class="fa fa-pinterest"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team-content">
                            <h2 class="team-member-name mb-0">Văn Đức Anh</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 pt-5 pt-sm-0">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="~/greenoasisassets/images/about/team/1-2-270x270.png" alt="Team Member">
                            <div class="inner-content">
                                <h2 class="team-member-name">Huỳnh Thanh Trúc</h2>
                                <span class="occupation">Nhân Viên Kinh Doanh</span>
                                <div class="social-link with-border">
                                    <ul>
                                        <li>
                                            <a href="#" data-tippy="Facebook" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-tippy="Twitter" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-tippy="Pinterest" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                <i class="fa fa-pinterest"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team-content">
                            <h2 class="team-member-name mb-0">Huỳnh Thanh Trúc</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 pt-5">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="~/greenoasisassets/images/about/team/1-3-270x270.png" alt="Team Member">
                            <div class="inner-content">
                                <h2 class="team-member-name">Trịnh Thị Minh Trang</h2>
                                <span class="occupation">Nhân Viên Kinh Doanh</span>
                                <div class="social-link with-border">
                                    <ul>
                                        <li>
                                            <a href="#" data-tippy="Facebook" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-tippy="Twitter" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-tippy="Pinterest" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                <i class="fa fa-pinterest"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team-content">
                            <h2 class="team-member-name mb-0">Trịnh Thị Minh Trang</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 pt-5 pt-sm-0">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="~/greenoasisassets/images/about/team/1-4-270x270.png" alt="Team Member">
                            <div class="inner-content">
                                <h2 class="team-member-name">Nguyễn Phương Quỳnh</h2>
                                <span class="occupation">Nhân Viên Kinh Doanh</span>
                                <div class="social-link with-border">
                                    <ul>
                                        <li>
                                            <a href="#" data-tippy="Facebook" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-tippy="Twitter" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-tippy="Pinterest" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                <i class="fa fa-pinterest"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team-content">
                            <h2 class="team-member-name mb-0">Nguyễn Phương Quỳnh</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Begin Brand Area -->
    <div class="brand-area section-space-y-axis-100">
        <div class="container">
            <div class="brand-bg" data-bg-image="~/greenoasisassets/images/brand/bg/1-1170x300.jpg">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="swiper-container brand-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a class="brand-item" href="#">
                                        <img src="~/greenoasisassets/images/brand/1-1.png" alt="Brand Image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="brand-item" href="#">
                                        <img src="~/greenoasisassets/images/brand/1-2.png" alt="Brand Image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="brand-item" href="#">
                                        <img src="~/greenoasisassets/images/brand/1-3.png" alt="Brand Image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="brand-item" href="#">
                                        <img src="~/greenoasisassets/images/brand/1-4.png" alt="Brand Image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="brand-item" href="#">
                                        <img src="~/greenoasisassets/images/brand/1-5.png" alt="Brand Image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Brand Area End Here -->

</main>
<!-- Main Content Area End Here -->