<!-- Begin Main Content Area -->
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="@Url.Content("~/greenoasisassets/images/breadcrumb/bg/1-1-1919x388.jpg")">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">CÂU HỎI THƯỜNG GẶP</h2>
                        <ul>
                            <li>
                                <a href="index.html">Trang Chủ</a>
                            </li>
                            <li>Câu Hỏi Thường Gặp</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="faq-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="frequently-area">
                        <h2 class="heading mb-0">Câu hỏi phổ biến</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="frequently-item">
                                            <ul>
                                                <li class="has-sub active">
                                                    <a href="javascript:void(0)">
                                                        Sen Đá có cần ánh sáng mặt trời trực tiếp không?
                                                        <i class="pe-7s-angle-down"></i>
                                                    </a>
                                                    <ul class="frequently-body">
                                                        <li>
                                                            Có, Sen Đá cần ánh sáng mặt trời trực tiếp từ 4-6 giờ mỗi ngày để phát triển tốt.
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-sub">
                                                    <a href="javascript:void(0)">
                                                        Làm thế nào để nhận biết Sen Đá bị bệnh?
                                                        <i class="pe-7s-angle-down"></i>
                                                    </a>
                                                    <ul class="frequently-body">
                                                        <li>
                                                            Dấu hiệu bao gồm lá vàng, nhũn nước, hoặc có đốm nâu. Kiểm tra rễ để xem có bị thối hay không.
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-sub">
                                                    <a href="javascript:void(0)">
                                                        Xương rồng có thể sống ở đâu trong nhà?
                                                        <i class="pe-7s-angle-down"></i>
                                                    </a>
                                                    <ul class="frequently-body">
                                                        <li>
                                                            Xương rồng thích hợp ở những nơi có ánh sáng mạnh, như gần cửa sổ hoặc ban công.
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-sub">
                                                    <a href="javascript:void(0)">
                                                        Có cần tưới nước cho xương rồng thường xuyên không?
                                                        <i class="pe-7s-angle-down"></i>
                                                    </a>
                                                    <ul class="frequently-body">
                                                        <li>
                                                            Không, xương rồng cần rất ít nước. Tưới nước khoảng 2-4 tuần một lần, tùy thuộc vào điều kiện môi trường.
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-sub">
                                                    <a href="javascript:void(0)">
                                                        Chất trồng nào là tốt nhất cho Sen Đá và xương rồng?
                                                        <i class="pe-7s-angle-down"></i>
                                                    </a>
                                                    <ul class="frequently-body">
                                                        <li>
                                                            Sử dụng hỗn hợp đất trồng dành riêng cho cây sen đá, thường chứa cát, đá perlite và phân hữu cơ.
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 pt-30 pt-md-0">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="frequently-item">
                                            <ul>
                                                <li class="has-sub active">
                                                    <a href="javascript:void(0)">
                                                        Có thể sử dụng đất vườn để trồng Sen Đá không?
                                                        <i class="pe-7s-angle-down"></i>
                                                    </a>
                                                    <ul class="frequently-body">
                                                        <li>
                                                            Không nên, vì đất vườn thường giữ nước quá lâu và không thoát nước tốt.
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-sub">
                                                    <a href="javascript:void(0)">
                                                        Tại sao cần phải có đất thoát nước tốt cho cây?
                                                        <i class="pe-7s-angle-down"></i>
                                                    </a>
                                                    <ul class="frequently-body">
                                                        <li>
                                                            Đất thoát nước tốt giúp ngăn ngừa tình trạng ngập úng, gây thối rễ cho cây.
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-sub">
                                                    <a href="javascript:void(0)">
                                                        Những dụng cụ nào cần thiết để trồng Sen Đá?
                                                        <i class="pe-7s-angle-down"></i>
                                                    </a>
                                                    <ul class="frequently-body">
                                                        <li>
                                                            Cần có chậu trồng, đất trồng, xẻng nhỏ, bình tưới, và găng tay. <br>Sử dụng xẻng nhỏ để lấy đất và đặt vào chậu, sau đó tạo lỗ để đặt cây vào.
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-sub">
                                                    <a href="javascript:void(0)">
                                                        Cách chọn chậu phù hợp cho Sen Đá là gì?
                                                        <i class="pe-7s-angle-down"></i>
                                                    </a>
                                                    <ul class="frequently-body">
                                                        <li>
                                                            Chọn chậu có lỗ thoát nước, kích thước vừa phải để cây có không gian phát triển.
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-sub">
                                                    <a href="javascript:void(0)">
                                                        Những yếu tố nào cần cân nhắc khi thiết kế tiểu cảnh với Sen Đá và xương rồng?
                                                        <i class="pe-7s-angle-down"></i>
                                                    </a>
                                                    <ul class="frequently-body">
                                                        <li>
                                                            Cần cân nhắc ánh sáng, không gian, kiểu dáng chậu, và sự kết hợp giữa các loại cây để tạo sự hài hòa
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="frequently-area section-space-top-95">
                        <h2 class="heading mb-0">Thanh Toán và Thẻ Quà Tặng</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="frequently-item">
                                            <ul>
                                                <li class="has-sub active">
                                                    <a href="javascript:void(0)">
                                                        Có những phương thức thanh toán nào được chấp nhận khi mua cây cảnh?
                                                        <i class="pe-7s-angle-down"></i>
                                                    </a>
                                                    <ul class="frequently-body">
                                                        <li>
                                                            Chúng tôi chấp nhận thanh toán khi nhận hàng COD.
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-sub">
                                                    <a href="javascript:void(0)">
                                                        Tôi có thể sử dụng thẻ quà tặng để thanh toán không?
                                                        <i class="pe-7s-angle-down"></i>
                                                    </a>
                                                    <ul class="frequently-body">
                                                        <li>
                                                            Có, thẻ quà tặng có thể được sử dụng để thanh toán cho bất kỳ sản phẩm nào trong cửa hàng.
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-sub">
                                                    <a href="javascript:void(0)">
                                                        Làm thế nào để kiểm tra số dư trên thẻ quà tặng?
                                                        <i class="pe-7s-angle-down"></i>
                                                    </a>
                                                    <ul class="frequently-body">
                                                        <li>
                                                            Bạn có thể kiểm tra số dư bằng cách truy cập trang web của chúng tôi hoặc liên hệ với dịch vụ khách hàng.
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-sub">
                                                    <a href="javascript:void(0)">
                                                        Tôi có thể trả lại sản phẩm đã mua bằng thẻ quà tặng không?
                                                        <i class="pe-7s-angle-down"></i>
                                                    </a>
                                                    <ul class="frequently-body">
                                                        <li>
                                                            Có, nếu bạn trả lại sản phẩm, số tiền sẽ được hoàn lại vào thẻ quà tặng của bạn.
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 pt-30 pt-md-0">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="frequently-item">
                                            <ul>
                                                <li class="has-sub active">
                                                    <a href="javascript:void(0)">
                                                        Có thể áp dụng mã giảm giá cùng với thẻ quà tặng không?
                                                        <i class="pe-7s-angle-down"></i>
                                                    </a>
                                                    <ul class="frequently-body">
                                                        <li>
                                                            Có, bạn có thể áp dụng mã giảm giá cùng với thẻ quà tặng để tiết kiệm chi phí.
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-sub">
                                                    <a href="javascript:void(0)">
                                                        Có cần phải đăng ký tài khoản để sử dụng thẻ quà tặng không?
                                                        <i class="pe-7s-angle-down"></i>
                                                    </a>
                                                    <ul class="frequently-body">
                                                        <li>
                                                            Không, bạn không cần phải đăng ký tài khoản để sử dụng thẻ quà tặng.
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-sub">
                                                    <a href="javascript:void(0)">
                                                        Nếu tôi mất thẻ quà tặng, tôi có thể lấy lại không?
                                                        <i class="pe-7s-angle-down"></i>
                                                    </a>
                                                    <ul class="frequently-body">
                                                        <li>
                                                            Nếu bạn mất thẻ quà tặng, vui lòng liên hệ với dịch vụ khách hàng để được trợ giúp. Chúng tôi có thể yêu cầu thông tin để xác nhận và cấp lại thẻ.
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-sub">
                                                    <a href="javascript:void(0)">
                                                        Tôi có thể mua thẻ quà tặng ở đâu?
                                                        <i class="pe-7s-angle-down"></i>
                                                    </a>
                                                    <ul class="frequently-body">
                                                        <li>
                                                            Thẻ quà tặng có thể được mua qua trang web của chúng tôi.
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->